<% provide(:title, "SETTING") %>

<div class="py-5 bg-light mb-0">
  <div class="row justify-content-center align-items-center w-100">
    <div class="col-md-4 bg-white setting">
      <div class="form-group text-center mt-3">
        <h2>SETTING</h2>
      </div>
      <div class="form-group text-center mt-3">
        <% if @user.image.attached? %>
          <%= image_tag @user.user_image_resize("250x250") %>
        <% else %>
          <%= image_tag("avatar_image.png", :size => "250x250") %>
        <% end %>
      </div>

      <%= form_for(resource, as: resource_name,
           url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.file_field :image, class: "form-control-file" %>
        </div>

        <div class="field form-group">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true,
                                 class: "form-control", autocomplete: "name" %>
        </div>

        <% unless @user.provider == "twitter" %>
          <div class="field form-group">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
          </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :プロフィール %><br />
          <%= f.text_area :profile, class: "form-control", autocomplete: "profile" %>
        </div>

        <% unless @user.provider == "twitter" %>
          <div class="field form-group">
            <%= f.label :新しいパスワード %><br />
            <%= f.password_field :password, class: "form-control",
                                            autocomplete: "new-password" %>
          </div>

          <div class="field form-group">
            <%= f.label :新しいパスワードの確認 %><br />
            <%= f.password_field :password_confirmation, class: "form-control",
                                            autocomplete: "new-password" %>
          </div>
        <% end %>

        <div class="actions form-line pb-2 mb-3">
          <%= f.submit "更新する", class:"btn-info form-control mb-2" %>
        </div>
      <% end %>

      <div class="pb-2">
      <%= button_to "アカウント削除", registration_path(resource_name),
                          data: { confirm: "アカウントを削除しますか？" },
                          method: :delete, class:"btn-danger form-control mb-2" %>
      </div>

    </div>
  </div>
</div>
