<%- if controller_name != 'sessions' %>
  <div class="text-right form-layout form-line pb-2">
    <small>
      アカウントをお持ちの方は<%= link_to "こちら",
                    new_session_path(resource_name),class:"text-info" %><br />
    </small>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="text-right">
    <small>
      アカウントをお持ちでない方は<%= link_to "こちら",
              new_registration_path(resource_name), class:"text-info" %><br />
    </small>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="text-right form-layout form-line pb-2">
    <small>
      パスワードをお忘れの場合は<%= link_to "こちら",
              new_password_path(resource_name), class:"text-info"%><br />
    </small>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="form-layout">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), method: :post,
                                            class:"btn twitter-btn" do %>
        <i class="fab fa-twitter"></i> Twitterアカウントでログイン<br />
      <% end %>
    <% end %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="form-layout">
    <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
      <%= f.hidden_field :email, {value: 'test@example.com'} %>
      <%= f.hidden_field :password, {value: 'password'} %>
      <%= f.submit "テストユーザーでログイン",
                                  class:"btn-secondary form-control mb-2" %>
    <% end %>
  </div>
<% end %>
