<ul class="post_items">
  <% posts.each do |post| %>
    <li class="row">
      <div class="col-md-2 float-left inline-block">
        <% if post.user.image.attached? %>
          <%= link_to image_tag(post.user.user_image_resize("60x60")),
                                                        post.user %>
        <% else %>
          <%= link_to image_tag("avatar_image.png", :size => "60x60"),
                                                        post.user %>
        <% end %>
      </div>
      <div class="col-md-10 inline-block">
        <%= simple_format(h(post.comment)) %>
        <div class="text-secondary flex-container">
          <small>投稿者：<%= post.user.name %>  投稿時間：<%= post.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %></small>
          <% if current_user == post.user %>
            <%= link_to post, method: :delete, class: "text-secondary",
                              data: { confirm: "コメントを削除しますか？" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate posts %>
