<h1>Users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<p>
<% if @user.image.attached? %>
  <%= image_tag @user.user_image_resize("300x300") %>
<% else %>
  <%= image_tag("avatar_image.png", :size => "300x300") %>
<% end %>
</p>

<div class="stats">
  <a>
    <strong id="favorite_gym" class="stat">
      <%= @user.favorite_gyms.count %>
    </strong>
    ホームジム
  </a>
</div>
<% if @gyms.any? %>
  <div class="gym_avatars">
    <% @gyms.each do |gym| %>
      <% if gym.gym_image.attached? %>
        <%= link_to image_tag(gym.gym_image_resize("30x30")), gym %>
      <% else %>
        <%= link_to image_tag("gym_image.jpg", :size => "30x30"), gym %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? && @user == current_user %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= form_for(@post) do |f| %>
          <div class="field">
            <%= f.text_area :comment, placeholder: "つぶやく..." %>
          </div>
          <%= f.submit "コメント", class: "btn btn-primary" %>
        <% end %>
      </section>
    </aside>
  </div>
<% end %>

<ul class="posts">
  <% @feed_items.each do |feed| %>
    <h4 class="list-group-item-heading">
      <%= link_to feed.user.name, feed.user %>
    </h4>
    <p class="list-group-item-text">
      <%= feed.comment %>
    </p>
    <p class="list-group-item-text">
      Posted <%= time_ago_in_words(feed.created_at) %> ago.
      <% if current_user == feed.user %>
        <%= link_to "delete", feed, method: :delete,
                                    data: { confirm: "コメントを削除しますか？" } %>
      <% end %>
    </p>
  <% end %>
  <%= paginate @feed_items %>
</ul>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <h4 class="list-group-item-heading">
      <%= review.title %>
    </h4>
    <p class="list-group-item-text">
      <%= review.content %>
    </p>
  <% end %>
  <%= paginate @reviews %>
</ul>


<ul class="posts">
  <% @posts.each do |post| %>
    <h4 class="list-group-item-heading">
      <%= link_to post.user.name, post.user %>
    </h4>
    <p class="list-group-item-text">
      <%= post.comment %>
    </p>
    <p class="list-group-item-text">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user == post.user %>
        <%= link_to "delete", post, method: :delete,
                                    data: { confirm: "コメントを削除しますか？" } %>
      <% end %>
    </p>
  <% end %>
  <%= paginate @posts %>
</ul>

<ul class="gym">
  <% @gyms.each do |gym| %>
    <% if gym.gym_image.attached? %>
      <%= link_to image_tag(gym.gym_image_resize("60x60")), gym %>
    <% end %>
    <h4 class="list-group-item-heading">
      <%= link_to gym.gym_name, gym %>
    </h4>
    <p class="list-group-item-text">
      <%= gym.address %>
    </p>
    <p class="list-group-item-text">
      <% if current_user == @user %>
        <div id="like_form">
          <%= form_for(current_user.active_relationships.find_by(favorite_gym_id: gym.id),
                       html: { method: :delete }) do |f| %>
            <%= f.submit "ホームジム解除", class: "btn" %>
          <% end %>
        </div>
      <% end %>
    </p>
  <% end %>
  <%= paginate @posts %>
</ul>


