<% provide(:title, @user.name) %>
<div class="bg-light py-4 mb-0 comments">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info p-3">
          <div class="text-center mb-2">
            <% if @user.image.attached? %>
              <%= image_tag @user.user_image_resize("250x250") %>
            <% else %>
              <%= image_tag("avatar_image.png", :size => "250x250") %>
            <% end %>
          </div>
          <p class="text-center profile_item pb-2 mb-3">
            <strong><%= @user.name %></strong>
          </p>
          <div class="profile_item pb-2 mb-3">
            <h6><i class="fas fa-id-badge"></i> PROFILE</h6>
            <%= @user.profile %>
            <div class="text-right">
               <small><%= link_to "プロフィール編集",
                  edit_user_registration_path, class: "text-info" %></small>
            </div>
          </div>
          <% if @gyms.any? %>
            <h6><i class="fas fa-dumbbell"></i> HOME GYM</h6>
            <div>
              <% @gyms.each do |gym| %>
                <% if gym.gym_image.attached? %>
                  <%= link_to image_tag(gym.gym_image_resize("60x60")), gym %>
                <% else %>
                  <%= link_to image_tag("gym_image.jpg", :size => "60x60"), gym %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </section>
      </aside>

      <div class="col-md-8">
        <%= render 'post_form' if user_signed_in? && @user == current_user %>
        <div class="timeline mt-4">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#tab1" class="nav-link active" data-toggle="tab">
                <i class="fas fa-comments"></i> TIMELINE
              </a>
            </li>
            <li class="nav-item">
              <a href="#tab2" class="nav-link" data-toggle="tab">
                <i class="fas fa-comment"></i> MY COMMENTS
              </a>
            </li>
            <li class="nav-item">
              <a href="#tab3" class="nav-link" data-toggle="tab">
                <i class="fas fa-star"></i> REVIEWS
              </a>
            </li>
            <li class="nav-item">
              <a href="#tab4" class="nav-link" data-toggle="tab">
                <i class="fas fa-dumbbell"></i> HOME GYMS
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="tab1" class="tab-pane p-2 active">
               <%= render "post_view", posts: @feed_items %>
            </div>
            <div id="tab2" class="tab-pane p-2">
               <%= render "post_view", posts: @posts  %>
            </div>
            <div id="tab3" class="tab-pane p-2">
               <%= render "review_view" %>
            </div>
            <div id="tab4" class="tab-pane p-2">
               <%= render "home_gym_view" %>
            </div>
          </div>
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
