<% provide(:title, "LOGIN") %>

<div class="py-5 bg-light mb-0">
  <div class="row justify-content-center align-items-center w-100">
    <div class="col-md-4 bg-white">
      <div class="form-group text-center mt-3">
        <h2>LOGIN</h2>
      </div>

      <%= form_for(resource, as: resource_name,
                                  url: session_path(resource_name)) do |f| %>

        <div class="field form-group">
          <%= f.email_field :email, placeholder: "メールアドレス",
                  class: "form-control", utofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <%= f.password_field :password, placeholder:  "パスワード",
                       class: "form-control", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <small>
              <%= f.label :次回からログインを省略 %>
            </small>
          </div>
        <% end %>

        <div class="actions form-group mb-2">
          <%= f.submit "ログイン", class:"btn-info form-control mb-2" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
