<% provide(:title, "GradeShare") %>
<section class="jumbotron jumbotron-fluid text-center mb-0">
  <div class="container">
    <h1 class="jumbotron-heading">Grade share</h1>
    <p class="lead text-white">
      クライミングジムのレビュー＆クライマー向けコミュニティサービス
    </p>
    <p>
      <% if !user_signed_in? %>
        <a href="/users/sign_up" class="btn btn-info my-2">はじめる</a>
      <% end %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light mb-0">
  <div class="container">

    <div class="text-center">
      <h3><strong><i class="fas fa-dumbbell"></i> CLIMBING GYM</strong></h3>
    </div>
    <div class="mb-4">
      <%= search_form_for(@q, url:gyms_path) do |f| %>
        <div class="form-inline">
          <%= f.search_field :gym_name_cont,
                              class: "form-control col-3 ml-auto mr-sm-2",
                              placeholder: "ジムを検索..."  %>
          <%= button_tag type: "submit", name: nil, 
                              class: "btn  my-2 my-sm-0 btn-info search-btn" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @gyms.each do |gym| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <% if gym.gym_image.attached? %>
              <%= link_to image_tag(gym.gym_image_resize("600x400"),
                                    class: "card-img-top"), gym_path(gym) %>
            <% else %>
              <%= link_to image_tag("gym_image.jpg",
                                    class: "card-img-top"), gym_path(gym) %>
            <% end %>
            <div class="card-body mt-0 pt-0">
              <p class="card-text text-info my-1 pb-0" >
                <small><i class="fas fa-map-pin"></i> <%= gym.prefecture %></small>
              </p>
              <p class="card-text">
                <strong><%= link_to gym.gym_name, gym_path(gym), class: "text-dark" %></strong>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">member:<%= gym.passive_relationships.count %>  review:<%= gym.reviews.count %></small>
                <small class="text-muted">Last update:<%= gym.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @gyms %>
  </div>
</div>
