<h1>Gyms#show</h1>
<p> ジム名 : <%= @gym.gym_name %></p>
<p>詳細 : <%= @gym.details %></p>
<p><% if @gym.gym_image.attached? %>
  <%= image_tag @gym.gym_image_resize("400x400") %>
<% end %></p>
<p>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "編集",   edit_gym_path %>
  <%= link_to "delete", @gym, method: :delete,
                        data: { confirm: "ジムを削除しますか？" } %>
<% end %>
</p>
<p>グレード：<%= @grade %> </p>
<p>広さ：<%= @breadth %> </p>
<p>壁の高さ：<%= @wall_height %> </p>
<p>混雑度：<%= @congestion %> </p>
<p>
<% if user_signed_in? %>
  <span><%= link_to "レビューする", new_gym_review_path(@gym) %></span>
<% end %>
</p>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <h4 class="list-group-item-heading">
      <%= review.title %>
      <% if current_user.id == review.user_id || current_user.admin? %>
       | <%= link_to "delete", gym_review_path(@gym,review), method: :delete,
                                data: { confirm: "レビューを削除しますか？" } %>
      <% end %>
    </h4>
    <p class="list-group-item-text">
      <%= review.content %>
    </p>
  <% end %>
  <%= paginate @reviews %>
</ul>


