<h1>Gyms#show</h1>
<% if user_signed_in? %>
  <div id="like_form">
    <% if current_user.favorite?(@gym) %>
      <%= render 'unlike' %>
    <% else %>
      <%= render 'like' %>
    <% end %>
  </div>
<% end %>
<p> ジム名 : <%= @gym.gym_name %></p>
<p>詳細 : <%= @gym.details %></p>
<p><% if @gym.gym_image.attached? %>
  <%= image_tag @gym.gym_image_resize("400x400") %>
<% end %></p>

<div id="map" style='width: 100%; height: 500px;'></div>


<p>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "編集",   edit_gym_path %>
  <%= link_to "delete", @gym, method: :delete,
                        data: { confirm: "ジムを削除しますか？" } %>
<% end %>
</p>
<p>グレード：<%= @grade %> </p>
<p>広さ：<%= @breadth %> </p>
<p>壁の高さ：<%= @wall_height %> </p>
<p>混雑度：<%= @congestion %> </p>

<% if @users.any? %>
  <div class="user_avatars">
    <% @users.each do |user| %>
      <% if user.image.attached? %>
        <%= link_to image_tag(user.user_image_resize("60x60")), user %>
      <% end %>
    <% end %>
  </div>
<% end %>



<ul class="reviews">
  <% @reviews.each do |review| %>
    <h4 class="list-group-item-heading">
      <%= review.title %>
      <% if current_user.id == review.user_id || current_user.admin? %>
       | <%= link_to "delete", gym_review_path(@gym,review), method: :delete,
                                data: { confirm: "レビューを削除しますか？" } %>
      <% end %>
    </h4>
    <p class="list-group-item-text">
      <%= review.content %>
    </p>
  <% end %>
  <p>
  <% if user_signed_in? %>
    <span><%= link_to "レビューする", new_gym_review_path(@gym) %></span>
  <% end %>
  </p>
  <%= paginate @reviews %>
</ul>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @gym.latitude %>,
        "lng": <%= @gym.longitude %>,
        "infowindow": '<p><%= @gym.gym_name %></p><p><%= @gym.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@gym.latitude},#{@gym.longitude}&iwloc=J",target: "_blank" %></p>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
</script>
