<% provide(:title, @gym.gym_name) %>
<div class="py-5 bg-light mb-0">
  <div class="container">
    <div class="text-center mb-4">
      <h2><strong><%= @gym.gym_name %></strong></h2>
    </div>

    <div class="row mb-4 p-4">
      <div class="col-md-6 float-left">
        <% if @gym.gym_image.attached? %>
          <%= image_tag(@gym.gym_image_resize("500x333"),
                                              class:"img-responsive") %>
        <% else %>
          <%= image_tag("gym_image.jpg", :size => "500x333",
                                              class:"img-responsive") %>
        <% end %>
      </div>
      <div class="col-md-6 float-right">
        <div id="map" style='width: 100%; height: 333px;'></div>
      </div>
    </div>

    <div class="bg-white p-4 mb-4">
      <div><h4>DESCRIPTION</h4></div>
      <p>所在地：<%= @gym.address %></p>
      <p>備　考：<%= simple_format(h(@gym.details)) %></p>
      <div class="text-right">
        <% if user_signed_in? %>
          <%= link_to edit_gym_path, class: 'btn btn-info' do %>
            <i class="fas fa-edit"></i><span>編集</span>
          <% end %>
          <% if  current_user.admin? %>
            <%= link_to @gym, method: :delete,
                                  data: { confirm: "ジムを削除しますか？" },
                                  class: 'btn btn-info' do %>
               <i class="fas fa-trash-alt"></i><span>ジム削除</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="bg-white p-4 mb-4">
      <div><h4>REVIEW SCORE</h4></div>
      <div class="row block-center text-center">
        <ul style="list-style:none;" class="col">
          <li><%= content_tag(:span, @grade, class: "score") %></li>
          <li>難易度</li>
        </ul>
        <ul style="list-style:none;" class="col">
          <li><%= content_tag(:span, @breadth, class: "score") %></li>
          <li>広さ</li>
        </ul>
        <ul style="list-style:none;" class="col">
          <li><%= content_tag(:span, @wall_height, class: "score") %></li>
          <li>壁の高さ</li>
        </ul>
        <ul style="list-style:none;" class="col">
          <li><%= content_tag(:span, @congestion, class: "score") %></li>
          <li>混雑度</li>
        </ul>
      </div>
      <div class="text-right"><small>※スコアは５段階評価の平均</small></div>
    </div>

    <div class="bg-white p-4 mb-4">
      <div><h4>MEMBERS</h4></div>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <% if user.image.attached? %>
               <%= link_to image_tag(user.user_image_resize("60x60")), user %>
            <% else %>
               <%= link_to image_tag("avatar_image.png", :size => "60x60"), user %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div id="like_form" class="text-right mb-4">
          <% if current_user.favorite?(@gym) %>
            <%= render 'unlike' %>
          <% else %>
            <%= render 'like' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="bg-white p-4 mb-4">
      <div><h4>REVIEWS</h4></div>
      <ul class="reviews">
        <% @reviews.each do |review| %>
          <li class="row">
            <div class="col-md-2 float-left inline-block">
              <% if review.user.image.attached? %>
                <%= link_to image_tag(review.user.user_image_resize("60x60")),
                                                              review.user %>
              <% else %>
                <%= link_to image_tag("avatar_image.png", :size => "60x60"),
                                                              review.user %>
              <% end %>
              <p><%= review.user.name %></p>
            </div>
            <div class="col-md-10 inline-block">
              <div class="flex-container">
                <h5><%= review.title %></h5>
                <% if user_signed_in? %>
                  <% if current_user.id == review.user_id || current_user.admin? %>
                    <%= link_to  gym_review_path(@gym,review),
                                 method: :delete, class:"text-secondary",
                                 data: { confirm: "レビューを削除しますか？" } do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <p><%= simple_format(h(review.content)) %></p>
              <p class="text-right">
                <small>難易度：<%= review.grade %>　広さ：<%= review.breadth %>　壁の高さ：<%= review.wall_height %>　混雑度：<%= review.congestion %></small>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="text-right">
        <% if user_signed_in? %>
          <%= link_to new_gym_review_path(@gym), class: 'btn btn-info' do %>
            <i class="fas fa-edit"></i><span>レビューする</span>
          <% end %>
        <% end %>
      </div>
      <%= paginate @reviews %>
    </div>

  </div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @gym.latitude %>,
        "lng": <%= @gym.longitude %>,
        "infowindow": '<p><%= @gym.gym_name %></p><p><%= @gym.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@gym.latitude},#{@gym.longitude}&iwloc=J",target: "_blank" %></p>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
</script>
